<div class="card mb-3">
  <h2 class="card-header h4">
    Grape Varietal #<%= grape_varietal.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= grape_varietal.name %></dd>
      <!-- Display name end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back grape_varietal, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link grape_varietal start -->
      <div class="col">
        <%= link_to edit_grape_varietal_url(grape_varietal), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link grape_varietal end -->

      <!-- Delete link grape_varietal start -->
      <div class="col">
        <%= link_to grape_varietal, method: :delete, data: { confirm: "Do you really want to delete this grape_varietal?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link grape_varietal end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(grape_varietal.updated_at) %> ago
  </div>
</div>
