<%= form_with(model: @bookmark, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user_profile.id %>

  <div class="form-group">
    <%= f.label :wine_id %>

    <%= f.collection_select :wine_id, Wine.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create bookmark", class: "btn btn-block btn-outline-secondary" %>
<% end %>
