<!-- Form region start -->
<%= form_with(model: @region, local: true) do |f| %>
<!-- Form region end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for country_id start -->
  <!-- Input for country_id start -->
  <%= f.hidden_field :country_id, value: @country.id %>
  <!-- Input for country_id end -->
  <!-- Label and input for country_id end -->

  <%= f.submit "Create region", class: "btn btn-block btn-outline-secondary" %>
<% end %>
