<%= form_with(model: @wine, local: true) do |f| %>

  <%= f.hidden_field :winery_id, value: @winery.id %>

  <div class="form-group">
    <%= f.label :grape_varietal_id %>

    <%= f.collection_select :grape_varietal_id, GrapeVarietal.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :vintage %>

    <%= f.text_field :vintage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description_id %>

    <%= f.text_field :description_id, class: "form-control" %>
  </div>

  <%= f.submit "Create wine", class: "btn btn-block btn-outline-secondary" %>
<% end %>
