<div class="card mb-3">
  <h2 class="card-header h4">
    Wine #<%= wine.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Winery</dt>
      <dd>
        <% if @wine.winery.present? %>
          <%= link_to wine.winery, wine.winery %>
        <% end %>
      </dd>

      <dt>Grape varietal</dt>
      <dd>
        <% if @wine.grape_varietal.present? %>
          <%= link_to wine.grape_varietal, wine.grape_varietal %>
        <% end %>
      </dd>

      <dt>Vintage</dt>
      <dd><%= wine.vintage %></dd>

      <dt>Category</dt>
      <dd>
        <% if @wine.category.present? %>
          <%= link_to wine.category, wine.category %>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= wine.description_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back wine, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_wine_url(wine), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to wine, method: :delete, data: { confirm: "Do you really want to delete this wine?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(wine.updated_at) %> ago
  </div>
</div>
